nav {
    --nav-padding: var(--def-spacing);
    --nav-link-list-width: 75vw;
    --nav-link-list-transition-speed: 350ms;
    --nav-link-list-brake-line-height: var(--burger-ln-high);
    --burger-padding: 15px;
    --nav-right: var(--def-spacing);
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-decoration: none;
    margin-bottom: calc(var(--def-spacing) * 3);
    margin-top: calc(var(--def-spacing) * 3);
    gap: var(--def-spacing);
}

.hero span {
    text-decoration: none;
    font-size: 2rem;
    color: black
}

.hero img {
    height: 4rem;
}

nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: end;
    z-index: 100;
    bottom: var(--def-spacing);
    right: var(--nav-right);
    gap: var(--def-spacing);
    pointer-events: none;
}

nav .menu-navbar-container {
    padding: var(--def-spacing);
    width: var(--nav-link-list-width);
    max-width: 500px;
    height: max-content;
    max-height: 50svh;
    transition: transform var(--nav-link-list-transition-speed) cubic-bezier(0.68, -0.55, 0.27, 1.55);
    background-color: var(--nav-link-list-background);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: var(--def-border-radius);
    transform: translateX(calc(100% + var(--nav-right)));
    box-sizing: border-box;
    overflow-y: scroll;
    pointer-events: all;
}

nav .menu-navbar-container.active {
    transform: translateX(0);
}

nav .menu-navbar-container #menu-navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

nav .menu-navbar-container #menu-navbar li {
    text-align: right;
    font-size: 1.5rem;
    line-height: var(--def-font-line-height-large);
    width: auto;
}

nav .menu-navbar-container #menu-navbar li .sub {
    display: block;
    position: relative;
    font-size: 1rem;
    width: 50%;
    margin-left: auto;
    padding-bottom: var(--def-spacing);
}

nav .menu-navbar-container #menu-navbar li hr {
    height: var(--nav-link-list-brake-line-height);
    background-color: var(--nav-link-list-text-color);
    border-radius: var(--def-border-radius);
}

nav .menu-navbar-container #menu-navbar li a {
    transition: background calc(var(--nav-link-list-transition-speed) / 2) ease;
    border-radius: var(--def-border-radius);
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding-inline: 5px;
    padding-top: 30px;
}

nav .menu-navbar-container #menu-navbar li a:hover {
    background-color: var(--nav-link-list-background-hover);
}

nav .menu-navbar-container #menu-navbar li * {
    color: var(--nav-link-list-text-color);
    text-decoration: none;
}

nav .menu-navbar-container #menu-navbar li.menu-item-has-children a {
    cursor: pointer;
}

nav .menu-navbar-container #menu-navbar li.menu-item-has-children ul.sub-menu {
    display: none;
}

nav .menu-navbar-container #menu-navbar li.menu-item-has-children.active ul.sub-menu {
    list-style: none;
    padding: 0;
    margin-right: var(--def-spacing);
    display: block;
}

nav .burger {
    all: unset;
    cursor: pointer;
    background-color: var(--nav-burger-color);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: var(--def-border-radius);
    right: 0;
    bottom: 0;
    padding: var(--burger-padding);
    max-width: calc(4rem * var(--nav-burger-size));
    width: calc(15svw * var(--nav-burger-size));
    min-width: calc(3rem * var(--nav-burger-size));
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    overflow: hidden;
    box-shadow: var(--def-box-shadow);
    z-index: 100;
    pointer-events: all;
    /*This is sadly necessary due to a Bug in Webkit where Aspect Ratio is not working...*/
    max-height: calc(4rem * var(--nav-burger-size));
    height: calc(15svw * var(--nav-burger-size));
    min-height: calc(3rem * var(--nav-burger-size));
}

nav .burger .burger-ln {
    background-color: var(--nav-burger-line-color);
    height: 10%;
    border-radius: var(--def-border-radius);
    transition: all calc(var(--nav-link-list-transition-speed) - 50ms) ease;
}

nav .burger .burger-ln:nth-child(1) {
    width: 100%;
}

nav .burger .burger-ln:nth-child(2) {
    width: 75%;
}

nav .burger .burger-ln:nth-child(3) {
    width: 50%;
}

nav .burger.active .burger-ln:nth-child(1) {
    --local-adjustment-y: calc(1000% / 2 - 100% / 2);
    transform: translateY(var(--local-adjustment-y)) rotate(45deg);
}

nav .burger.active .burger-ln:nth-child(3) {
    --local-adjustment-y: calc(-1 * (1000% / 2 - 100% / 2));
    width: 100%;
    transform: translateY(var(--local-adjustment-y)) rotate(-45deg);
}

nav .burger.active .burger-ln:nth-child(2) {
    --local-translateX: calc(100% + 2.75 * var(--burger-padding));
    opacity: 0;
    transform: translateX(var(--local-translateX));
}

@media screen and (min-width: 1200px) {
    /* parents added inorder to overwrite other Styles: https://stackoverflow.com/questions/19038240/media-query-styles-not-overriding-original-styles*/
    body nav {
        right: unset;
        bottom: unset;
        left: 0;
        top: 0;
    }
    body nav .burger {
        display: none;
    }
    body nav .menu-navbar-container {
        max-height: unset;
        max-width: unset;
        height: 100vh;
        width: 25svw;
        transition: unset;
        transform: translateX(0);
        border-radius: unset;
        overflow: hidden;
        border-top-right-radius: calc(var(--def-border-radius) * 2);
        border-bottom-right-radius: calc(var(--def-border-radius) * 2);
    }
    body nav .menu-navbar-container #menu-navbar li {
        text-align: left;
    }
    nav .menu-navbar-container #menu-navbar li .sub {
        margin: 0;
    }
    body nav .menu-navbar-container #menu-navbar li a {
        padding-top: 40px;
    }
    body nav .menu-navbar-container #menu-navbar li a .sub {
        margin-left: var(--def-spacing);
    }
    body nav .menu-navbar-container #menu-navbar {
        list-style-type: none;
        padding: 0;
        margin: 0;
        overflow-x: hidden;
    }
    body nav .menu-navbar-container #menu-navbar li.menu-item-has-children.active ul.sub-menu {
        margin: 0 0 0 var(--def-spacing);
    }
    body {
        margin-left: 25svw;
    }
}