.postgallery {
    position: relative;
    box-sizing: border-box;
    border: unset;
    background: unset;
    backdrop-filter: unset;
    box-shadow: unset;
    background-color: none;
    width: 100%;
    max-height: 500px;
    height: 50svh;
    min-height: 300px;
    padding: 0;
    overflow-x: hidden;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
    -webkit-user-drag: none;
    /* Safari */
    -ms-user-drag: none;
    /* IE 10 and IE 11 */
    user-drag: none;
    /* Standard syntax */
}

.postwrapper {
    display: flex;
    gap: 150px;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
}

.postwrapper.animate {
    transition: transform ease-in-out var(--def-gallery-transition-speed);
}

.postgallery .arrow {
    border: 0;
    box-sizing: border-box;
    aspect-ratio: 1 / 1;
    max-width: 70px;
    width: 12svw;
    min-width: 30px;
    border-radius: 300px;
    background: rgba(166, 166, 166, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    padding: calc(0.5 * var(--def-spacing));
    position: absolute;
    transition: opacity var(--def-gallery-transition-speed) ease;
    top: 50%;
    transform: translateY(- var(--arrow-size));
    z-index: 10;
    pointer-events: all;
}

.postgallery .arrow img {
    width: 100%;
    aspect-ratio: 1 / 1;
}

.postgallery .arrow.inactive {
    pointer-events: none;
    opacity: 0;
}

.postgallery .left {
    left: calc(0.5 * var(--def-spacing));
}

.postgallery .left img {
    transform: scaleX(-1);
}

.postgallery .right {
    right: calc(0.5 * var(--def-spacing));
}